<nav-bar></nav-bar>
<div class="container">
    <breadcrumb [title]="'Nodes List'" [links]="links"></breadcrumb>
    <div class="row-fluid">
        <div class="col-md-12">
            <h3>Node List</h3>
            <ngb-tabset type="pills" [(activeId)]="activeId" (tabChange)="tabChange($event)">
                <ngb-tab title="All" id="all">
                    <template ngbTabContent>
                        <ul class="nodes">
                            <li *ngFor="let node of nodes">
                                <div>
                                    <a [routerLink]="['/nodes/view', node.id]">
                                        {{node.label}}
                                    </a>
                                    <span class="label {{ node.is_public ? 'label-default' : 'label-primary' }}">
                                        {{ node.is_public ? "public" : "private" }}
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <strong *ngIf="nodes?.length == 0">No Data</strong>
                    </template>
                </ngb-tab>
                <ngb-tab title="Public" id="public">
                    <template ngbTabContent>
                        <ul class="nodes">
                            <li *ngFor="let node of nodes">
                                <div>
                                    <a [routerLink]="['/nodes/view', node.id]">
                                        {{node.label}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <strong *ngIf="nodes?.length == 0">No Data</strong>
                    </template>
                </ngb-tab>
                <ngb-tab title="Private" id="private">
                    <template ngbTabContent>
                        <ul class="nodes">
                            <li *ngFor="let node of nodes">
                                <div>
                                    <a [routerLink]="['/nodes/view', node.id]">
                                        {{node.label}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <strong *ngIf="nodes?.length == 0">No Data</strong>
                    </template>
                </ngb-tab>
                <ngb-tab title="Global" id="global">
                    <template ngbTabContent>
                        <ul class="nodes">
                            <li *ngFor="let node of nodes">
                                <div>
                                    <a [routerLink]="['/nodes/view', node.id]">
                                        {{node.label}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <strong *ngIf="nodes?.length == 0">No Data</strong>
                    </template>
                </ngb-tab>
            </ngb-tabset>
            <div class="alert alert-info" role="alert">
                New node: <a [routerLink]="['/nodes/new']" class="btn btn-primary">Link</a>
            </div>
            <h3>Sensor Data List</h3>
            <div class="alert alert-info" role="alert">
                All sensordatas from any nodes and sensors:
                <a [routerLink]="['/sensordata']" class="btn btn-primary">
                    Link
                </a>
            </div>
        </div>
    </div>
</div>