<nav-bar></nav-bar>
<div *ngIf="node" class="container">
    <breadcrumb [title]="'Node Detail'" [links]=links></breadcrumb>
    <div class="row-fluid">
        <h3>Node: {{ node.label }}</h3>
        <div class="col-md-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Public node:</th>
                        <td>{{ 1 == node.is_public ? "yes" : "no" }}</td>
                    </tr>
                    <tr>
                        <th>Publish per day:</th>
                        <td>{{ -1 == node.pubsperday ? "unlimited" : node.pubsperday }}</td>
                    </tr>
                    <tr>
                        <th>Publish per day remaining:</th>
                        <td>{{ -1 == node.pubsperday ? "unlimited" : node.pubsperdayremain }}</td>
                    </tr>
                    <tr>
                        <th>Sensor count:</th>
                        <td>{{ node.sensor_count }}</td>
                    </tr>
                    <tr>
                        <th>Sensor list:</th>
                        <td>
                            <a [routerLink]="['/nodes', node.id, 'sensors']">link</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Sensor data list:</th>
                        <td>
                            <a [routerLink]="['/sensordata/node', node.id]">link</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form *ngIf="is_mine" (ngSubmit)="edit()" class="form-horizontal">
                <div class="form-actions">
                    <button class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
<div>