<div class="app flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mx-4">
					<div class="card-body p-4">
						<p *ngFor="let error of errors">
				            <alert [type]="'danger'" dismissible="true">
				                <strong>{{ error.field }}:</strong> {{ error.message }}
				            </alert>
				        </p>
						<form (ngSubmit)="register()" class="form-signin" name="registerForm">
							<h1>Register</h1>
							<p class="text-muted">Create your account</p>
							<div class="input-group mb-3">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<input type="text" class="form-control" name="username" [(ngModel)]="user.username"
									placeholder="Username" required>
							</div>

							<div class="input-group mb-3">
								<span class="input-group-addon">@</span>
								<input type="text" class="form-control" [(ngModel)]="user.email" name="email" 
									placeholder="Email">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-addon"><i class="icon-lock"></i></span>
								<input type="password" class="form-control" [(ngModel)]="user.password"
									name="password" placeholder="Password">
							</div>

							<div class="input-group mb-4">
								<span class="input-group-addon"><i class="icon-note"></i></span>
								<input type="text" class="form-control" 
	                        		placeholder="First name" name="first_name" [(ngModel)]="user.first_name" 
	                        			name="first_name" required>
							</div>
							
							<div class="input-group mb-4">
								<span class="input-group-addon"><i class="icon-note"></i></span>
								<input type="text" class="form-control" 
	                        		placeholder="Last name" name="last_name" [(ngModel)]="user.last_name"
	                        			name="last_name" required>
							</div>

							<button type="submit" class="btn btn-block btn-success">Create Account</button>
							<a [routerLink]="['/page/login']" class="btn btn-block btn-primary btn-block">
			                    Login
			                </a>
			            </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
