<nav-bar></nav-bar>
<div *ngIf="parentNode" class="container">
    <breadcrumb [title]="'Sensors List'" [links]="links"></breadcrumb>
    <div class="row-fluid">
        <div class="span10">
            <h3>{{ parentNode.label }} Sensors</h3>
            <ul class="sensors">
                <li *ngFor="let sensor of sensors">
                    <div>
                        <a [routerLink]="['/sensordata/node', parentNode.id, 'sensor', sensor.id]">
							{{ sensor.label }}
						</a>
                    </div>
                </li>
            </ul>
            <strong *ngIf="sensors?.length == 0">No Data</strong>
            <div *ngIf="is_mine" class="alert alert-info" role="alert">
                New sensor: <a [routerLink]="['/nodes', parentNode.id, 'sensors', 'new']" 
                class="btn btn-primary">Link</a>
            </div>
        </div>
    </div>
</div>