<!-- Breadcrumb -->
<ol class="breadcrumb">
    <breadcrumbs [links]="breadcrumbs"></breadcrumbs>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Nodes
                        <a [routerLink]="['/nodes/new']" class="btn btn-sm btn-flat btn-primary float-right">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>
                    <div class="card-body">
                        <alert *ngIf="flash_message&&'duplicate'==flash_action" [type]="'info'" dismissOnTimeout="5000" dismissible="true">
                            <strong>{{ flash_message }}:</strong> Has Been Successfully Duplicated
                        </alert>
                        <alert *ngIf="flash_message&&'reset'==flash_action" [type]="'info'" dismissOnTimeout="5000" dismissible="true">
                            <strong>{{ flash_message }}:</strong> Subsperdayremain Has Been Reset Successfully
                        </alert>
                        <tabset>
                            <tab (select)="selectTab('all')">
                                <ng-template tabHeading>All</ng-template>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Node</th>
                                        <th>Node Id</th>
                                        <th>Supernode</th>
                                        <th>Visibility</th>
                                        <th>Sensor</th>
                                        <th>Publish remaining</th>
                                        <th>Sensordatas List</th>
                                        <th width="180px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let node of nodes">
                                        <td>{{ node.label }}</td>
                                        <td>{{ node.id }}</td>
                                        <td>{{ node.supernode }}</td>
                                        <td>
                                            <span class="badge {{ node.is_public ? 'badge-success' : 'badge-primary' }}"
                                            >
                                                {{ node.is_public ? "Public" : "Private" }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ node.sensor_count }}
                                        </td>
                                        <td>
                                            {{ -1 == node.pubsperday ? "unlimited" :
                                            node.pubsperdayremain + ' from ' + node.pubsperday }}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/sensordatas/node', node.id]">
                                                <i class="fa fa-link"></i>&nbsp; Link
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/nodes/view', node.id]" title="node detail"
                                               class="btn btn-sm btn-flat btn-success">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a [routerLink]="['/nodes/edit/', node.id]" title="edit node"
                                               class="btn btn-sm btn-flat btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-flat btn-secondary" title="duplicate node" 
                                                data-toggle="modal" (click)="openDuplicateFormModal(node)">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-warning" title="reset publish per day limit"
                                                    data-toggle="modal" (click)="openResetConfirmationModal(node)"
                                                    [disabled]="-1 == node.pubsperday || node.pubsperday == node.pubsperdayremain">
                                                <i class="fa fa-history"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-danger" title="delete node"
                                                    data-toggle="modal" (click)="openDeleteConfirmationModal(node)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <strong *ngIf="nodes?.length == 0">No Data</strong>
                                <nav>
                                    <pagination *ngIf="10<totalItems" [totalItems]="totalItems" [maxSize]="maxSize" 
                                        [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" 
                                        [itemsPerPage]="itemsPerPage" class="pagination-md" 
                                        [boundaryLinks]="true"></pagination>
                                </nav>
                            </tab>
                            <tab (select)="selectTab('public')">
                                <ng-template tabHeading>Public</ng-template>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Node</th>
                                        <th>Supernode</th>
                                        <th>Visibility</th>
                                        <th>Sensor</th>
                                        <th>Publish remaining</th>
                                        <th>Sensordatas List</th>
                                        <th width="180px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let node of nodes">
                                        <td>{{ node.label }}</td>
                                        <td>{{ node.supernode }}</td>
                                        <td>
                                            <span class="badge badge-success">
                                                Public
                                            </span>
                                        </td>
                                        <td>
                                            {{ node.sensor_count }}
                                        </td>
                                        <td>
                                            {{ -1 == node.pubsperday ? "unlimited" :
                                            node.pubsperdayremain + ' from ' + node.pubsperday }}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/sensordatas/node', node.id]">
                                                <i class="fa fa-link"></i>&nbsp; Link
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/nodes/view', node.id]" title="node detail"
                                               class="btn btn-sm btn-flat btn-success">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a [routerLink]="['/nodes/edit/', node.id]" title="edit node"
                                               class="btn btn-sm btn-flat btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-flat btn-secondary" title="duplicate node" data-toggle="modal" (click)="openDuplicateFormModal(node)">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-warning" title="reset publish per day limit"
                                                    data-toggle="modal" (click)="openResetConfirmationModal(node)"
                                                    [disabled]="-1 == node.pubsperday || node.pubsperday == node.pubsperdayremain">
                                                <i class="fa fa-history"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-danger" title="delete node"
                                                    data-toggle="modal" (click)="openDeleteConfirmationModal(node)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <strong *ngIf="nodes?.length == 0">No Data</strong>
                                <nav>
                                    <pagination *ngIf="10<totalItems" [totalItems]="totalItems" [maxSize]="maxSize" 
                                        [(ngModel)]="publicCurrentPage" (pageChanged)="pageChanged($event)" 
                                        [itemsPerPage]="itemsPerPage" class="pagination-md" 
                                        [boundaryLinks]="true"></pagination>
                                </nav>
                            </tab>
                            <tab (select)="selectTab('private')">
                                <ng-template tabHeading>Private</ng-template>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Node</th>
                                        <th>Supernode</th>
                                        <th>Visibility</th>
                                        <th>Sensor</th>
                                        <th>Publish remaining</th>
                                        <th>Sensordatas List</th>
                                        <th width="180px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let node of nodes">
                                        <td>{{ node.label }}</td>
                                        <td>{{ node.supernode }}</td>
                                        <td>
                                            <span class="badge badge-primary">
                                                Private
                                            </span>
                                        </td>
                                        <td>
                                            {{ node.sensor_count }}
                                        </td>
                                        <td>
                                            {{ -1 == node.pubsperday ? "unlimited" :
                                            node.pubsperdayremain + ' from ' + node.pubsperday }}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/sensordatas/node', node.id]">
                                                <i class="fa fa-link"></i>&nbsp; Link
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/nodes/view', node.id]" title="node detail"
                                               class="btn btn-sm btn-flat btn-success">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a [routerLink]="['/nodes/edit/', node.id]" title="edit node"
                                               class="btn btn-sm btn-flat btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button type="button" class="btn btn-sm btn-flat btn-secondary" title="duplicate node" data-toggle="modal" (click)="openDuplicateFormModal(node)">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-warning" title="reset publish per day limit"
                                                    data-toggle="modal" (click)="openResetConfirmationModal(node)"
                                                    [disabled]="-1 == node.pubsperday || node.pubsperday == node.pubsperdayremain">
                                                <i class="fa fa-history"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-flat btn-danger" title="delete node"
                                                    data-toggle="modal" (click)="openDeleteConfirmationModal(node)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <strong *ngIf="nodes?.length == 0">No Data</strong>
                                <nav>
                                    <pagination *ngIf="10<totalItems" [totalItems]="totalItems" [maxSize]="maxSize" 
                                        [(ngModel)]="privateCurrentPage" (pageChanged)="pageChanged($event)" 
                                        [itemsPerPage]="itemsPerPage" class="pagination-md" 
                                        [boundaryLinks]="true"></pagination>
                                </nav>
                            </tab>
                            <tab (select)="selectTab('global')">
                                <ng-template tabHeading>Global</ng-template>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Node</th>
                                        <th>Supernode</th>
                                        <th>Visibility</th>
                                        <th>Sensor</th>
                                        <th>Publish remaining</th>
                                        <th>Sensordatas List</th>
                                        <th width="40px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let node of nodes">
                                        <td>{{ node.user }}</td>
                                        <td>{{ node.label }}</td>
                                        <td>{{ node.supernode }}</td>
                                        <td>
                                            <span class="badge {{ node.is_public ? 'badge-success' : 'badge-primary' }}"
                                            >
                                                {{ node.is_public ? "Public" : "Private" }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ node.sensor_count }}
                                        </td>
                                        <td>
                                            {{ -1 == node.pubsperday ? "unlimited" :
                                            node.pubsperdayremain + ' from ' + node.pubsperday }}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/sensordatas/node', node.id]">
                                                <i class="fa fa-link"></i>&nbsp; Link
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/nodes/view', node.id]" title="node detail"
                                               class="btn btn-sm btn-flat btn-success">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <strong *ngIf="nodes?.length == 0">No Data</strong>
                                <nav>
                                    <pagination *ngIf="10<totalItems" [totalItems]="totalItems" [maxSize]="maxSize" 
                                        [(ngModel)]="globalCurrentPage" (pageChanged)="pageChanged($event)" 
                                        [itemsPerPage]="itemsPerPage" class="pagination-md" 
                                        [boundaryLinks]="true"></pagination>
                                </nav>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>